@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="yandex-verification" content="b237c26f3b9e1073">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/_Layout.css">

    
    @RenderSection("Styles", required: false)
</head>
<body style="display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;">
    <header>
        <nav class="navbar">
            <!-- Главная страница -->
            <button onclick="window.location.href='Index'; SaveForm(); DeleteItem()">Главная</button>

            <!-- Работа с БД -->
            <div class="dropdown">
                <button class="dropbtn">Работа с БД</button>
                <div class="dropdown-content">
                    <a href="Add" id="add" onclick="SaveForm(); DeleteItem();">Добавление детали</a>
                    <a href="SearchOne" onclick="SaveForm(); DeleteItem();">Поиск по стране</a>
                    <a href="SearchTwo" onclick="SaveForm(); DeleteItem();">Поиск по производителю и названию</a>
                    <a href="Statistic" onclick="SaveForm(); DeleteItem();">Статистика</a>
                </div>
            </div>

            <!-- Информация о радиодеталях -->
            <div class="dropdown">
                <button class="dropbtn">Информация о радиодеталях</button>
                <div class="dropdown-content">
                    <a href="Resistors" onclick="SaveForm(); DeleteItem();">Резисторы</a>
                    <a href="Capacitors" onclick="SaveForm(); DeleteItem();">Конденсаторы</a>
                    <a href="Diodes" onclick="SaveForm(); DeleteItem();">Диоды</a>
                    <a href="Transistors" onclick="SaveForm(); DeleteItem();">Транзисторы</a>
                    <a href="IntegratedCircuits" onclick="SaveForm(); DeleteItem();">Интегральные схемы</a>
                    <a href="Inductors" onclick="SaveForm(); DeleteItem();">Катушки индуктивности</a>
                    <a href="Transformers" onclick="SaveForm(); DeleteItem();">Трансформаторы</a>
                    <a href="Sensors" onclick="SaveForm(); DeleteItem();">Сенсоры и датчики</a>
                    <a href="Microcontrollers" onclick="SaveForm(); DeleteItem();">Микроконтроллеры</a>
                </div>
            </div>

            <!-- Сервисы -->
            <button onclick="window.location.href='Services'; SaveForm(); DeleteItem()">Сервисы</button>
            <button onclick="window.location.href='XML'; SaveForm(); DeleteItem()">XML</button>
            <button onclick="window.location.href='Rss'; SaveForm(); DeleteItem()">RSS</button>

            <!-- Вход / Регистрация -->
            <button onclick="window.location.href='Login'" class="ReistrationLogin-Button" id="ReistrationLoginButton">Вход / Регистрация</button>
            <div id="userInfo" style="display:none;">
                <p style="align-content: center; margin: 0">Добро пожаловать <span id="userName"></span>!</p>
                <input type="button" value="Выйти" id="logOut" />
            </div>
        </nav>

        <!-- Заголовок сайта -->
        <h1>Электронные компоненты</h1>
        <h2>@ViewBag.Title</h2>
    </header>

    <main>
        <div class="ya-site-form ya-site-form_inited_no" data-bem="{&quot;action&quot;:&quot;http://bd-web.ru/Search&quot;,&quot;arrow&quot;:false,&quot;bg&quot;:&quot;#ffffff&quot;,&quot;fontsize&quot;:12,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;Поиск по bd-web.ru&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_self&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;type&quot;:2,&quot;usebigdictionary&quot;:true,&quot;searchid&quot;:10651981,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:&quot;&quot;,&quot;input_placeholderColor&quot;:&quot;#000000&quot;,&quot;input_borderColor&quot;:&quot;#7f9db9&quot;}"><form action="https://yandex.ru/search/site/" method="get" target="_self" accept-charset="utf-8"><input type="hidden" name="searchid" value="10651981" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc" value="" /><input type="search" name="text" value="" /><input type="submit" value="Найти" /></form></div>
        <style type="text/css">
            .ya-page_js_yes .ya-site-form_inited_no {
                display: none;
            }</style>
        <script type="text/javascript">(function (w, d, c) { var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement; if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) { e.className += ' ya-page_js_yes'; } s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8'; s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js'; h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() }) })(window, document, 'yandex_site_callbacks');</script>

        @RenderBody()
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p>База данных "Электронные компоненты" разработана на основе PostgreSQL.</p>
                <p>Разработчик: Миронов Ю. А. (ИВТ1-Б21)</p>
                <p>Почта: yuramironov2003@mail.ru</p>
            </div>

            <div class="footer-right">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=98452683&amp;from=informer"
                   target="_blank" rel="nofollow">
                    <img src="https://informer.yandex.ru/informer/98452683/3_1_ECECECFF_CCCCCCFF_0_visits"
                         style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="98452683" data-lang="ru">
                </a>
                <!-- /Yandex.Metrika informer -->
                <!-- Yandex.Metrika counter -->
                <script>
                    (function (m, e, t, r, i, k, a) {
                        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                        m[i].l = 1 * new Date();
                        for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
                        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                    })
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                    ym(98452683, "init", {
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/98452683" style="position:absolute; left:-9999px;" alt=""></div></noscript>
                <!-- /Yandex.Metrika counter -->
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const response = await fetch("/api/user", {
                method: "GET",
                credentials: "include"
            });

            if (response.ok) {
                const userData = await response.json();
                if (userData.username) {
                    document.getElementById("userName").innerText = userData.username;
                    document.getElementById("userInfo").style.display = "flex";
                    document.getElementById("userInfo").style.border = "2px solid green";
                    document.getElementById("userInfo").style.height = "35.2px";
                    document.getElementById("ReistrationLoginButton").style.display = "none";
                    document.getElementById("add").style.background = "";
                } else {
                    document.getElementById("add").style.background = "red";
                }
            } else {
                document.getElementById("add").style.background = "red";
            }
        });

        document.getElementById("logOut").addEventListener("click", async (e) => {
            e.preventDefault();
            await fetch("/logout", { method: "POST", credentials: "include" });
            document.getElementById("userName").innerText = "";
            document.getElementById("userInfo").style.display = "none";
            document.getElementById("userInfo").style.border = "";
            document.getElementById("ReistrationLoginButton").style.display = "flex";
            document.getElementById("add").style.background = "red";
            window.location.href = '/';
        });
    </script>
</body>
</html>
