/* Основные стили для главной страницы */
.content {
    max-width: 800px; /* Максимальная ширина контента */
    margin: 0 auto; /* Центрирование контента */
    padding: 20px; /* Внутренние отступы */
    font-family: Arial, sans-serif; /* Шрифт */
    color: #333; /* Цвет текста */
}

.welcome {
    color: #007bff;/* Цвет заголовка */
}

h1 {
    font-size: 2.5em; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

p {
    line-height: 1.6; /* Межстрочный интервал */
    margin-bottom: 15px; /* Отступ снизу */
}
