@page
@model BD.Pages.IndexModel
@{
	ViewBag.Title = "Главная";
	Layout = "Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Index.css">

}

    <div class="content">
        <h1 class="welcome">Добро пожаловать на сайт "Электронные компоненты"</h1>
        <p class="info">Наш сайт предоставляет информацию о различных радиодеталях, их характеристиках и применении. Здесь вы можете легко найти нужные компоненты для ваших проектов и получать актуальные сведения.</p>
    </div>


