@page
@model BD.Pages.IndexModel
@{
	ViewBag.Title = "Главная";
	Layout = "Shared/_Layout.cshtml";
}

@section Styles {
    @* <link rel="stylesheet" href="~/css/Index.css"> *@

    <style>
        /* Основные стили для главной страницы */
        .content {
            max-width: 800px; /* Максимальная ширина контента */
            margin: 0 auto; /* Центрирование контента */
            padding: 20px; /* Внутренние отступы */
            font-family: Arial, sans-serif; /* Шрифт */
            color: #333; /* Цвет текста */
        }

        .welcome {
            color: #007bff; /* Цвет заголовка */
        }

        h1 {
            font-size: 2.5em; /* Размер заголовка */
            margin-bottom: 20px; /* Отступ снизу */
        }

        p {
            line-height: 1.6; /* Межстрочный интервал */
            margin-bottom: 15px; /* Отступ снизу */
        }
    </style>
}

    <div class="content">
        <h1 class="welcome">Добро пожаловать на сайт "Электронные компоненты"</h1>
        <p>Наш сайт предоставляет информацию о различных радиодеталях, их характеристиках и применении. Здесь вы можете легко найти нужные компоненты для ваших проектов и получать актуальные сведения.</p>
    </div>


