@page
@model BD.Pages.RegistrationModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "Shared/_Layout.cshtml";
}

<body>
    <section class="form-container">
        <img src="pictures/BackgroundBlack.jpg" class="img-Background">
        <h1>Регистрация</h1>
        <form method="post" action="/register" class="registration-form">
            <div class="error-message"></div>

            <label>Имя пользователя</label>
            <input type="text" name="Username">

            <label>Пароль</label>
            <input type="password" name="PasswordHash">

            <label>Подтвердите пароль</label>
            <input type="password" name="ConfirmPassword">

            <button type="submit">Зарегистрироваться</button>
            <div>Есть аккаунта? <a href="Login">Войти</a></div>
        </form>
    </section>
    <script src="js/OptionRegistration.js"></script>
</body>
